/* .Card {
  position: sticky;
  margin: 10px;
  border-radius: 18px;
  background-color: rgb(230, 230, 230, 0.5);
  z-index: 2;
  width: 20rem;
} */

/* .Map {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 100%;
  z-index: 1;
} */